@import "oneDayProp";
@import "calendarCreating";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 30px;
  font-family: Arial, sans-serif;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $dayWidht * 7 + $gapBetweenCells * 7;
  margin: 0 auto;
}
