$dayHeight: 100px;
$dayWidht :100px;
$gapBetweenCells: 1px;

@mixin oneDayProperties {
  display: flex;
  justify-content: center;
  height: $dayHeight;
  min-width: $dayWidht;
  margin-right: $gapBetweenCells;
  margin-bottom: $gapBetweenCells;
  background-color: #eee;
  border: 1px solid black;
  transition-property: all;
  transition-duration: 0.5s;
}

@mixin hoverDayProperties {
  cursor: pointer;
  background-color: pink;
  transform: translate(0, -20px);
}
